@model IEnumerable<goldenCenterNew.Models.DeviceModel>

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Lista de Dispositivos</h2>

    <form method="get" class="form-inline">
        <div class="form-group">
            <label for="typeFilter" class="mr-2">Filtrar:</label>
            <select id="typeFilter" name="typeFilter" class="form-control" onchange="this.form.submit()">
                @foreach (var option in ViewBag.TypeFilterOptions)
                {
                    <option value="@option.Value"  selected="@option.Selected">@option.Text</option>
                }
            </select>
        </div>
    </form>
</div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Serial Number</th>
                    <th>Tipo de Dispositivo</th>
                    <th>Ciclos</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var device in Model)
                {
                        <tr>
                            <td>@device.SerialNumber</td>
                            <td>@device.DeviceTypeName</td>
                            <td>@device.Cycles</td>
                        </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-center mt-4">
        <a asp-action="Create" class="btn btn-primary">Agregar Nuevo Dispositivo</a>
    </div>
</div>